* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00c6ff;
    max-height: 100%;
}

main {
    overflow: hidden;
    
}

.navbar {
    background-color: #fff;
}

.navbar-brand,
.navbar-brand:hover{
    color: #000;
    font-size: 20px;
}

.student-header {
    display: flex;
    
    padding: 0 3%;
}

.student-nav {
    justify-content: space-between;
    display: flex;
}


.welcome-student {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 135px;
    height: 125px;
    border-radius: 5px;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.justify-center {
    justify-content: center;
    align-items: center;
    margin-right: -55%;
}


.build-info {
    padding-left: 5rem;
    background-color: #fff;
    padding-bottom: 2rem;
    padding-top: 1rem;
    justify-content: start;
}

.build-name {
    font-size: 20px;
    color: #000;
}

.build-link,
.build-link:hover
{
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
}

@media screen and (max-width:760px) {
    .build-info {
        padding-left: 1rem;
        justify-content: start;
    }
}
